body {
    margin: 100px, auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, blue, black);
}
.matrix {
    display: grid;
    grid-template-rows: 70px 70px 70px;
    grid-template-columns: 70px 70px 70px;
}
.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    text-align: center;
    color: red;
    font-size: 20px;
}
#btn {
    margin: 15px 15px 25px 15px;
    padding: 5px;
}
.result {
    color: white;
    font-size: 24px;
    padding-bottom: 5px;
}